* {
    outline: 1px solid red;
}

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

hr {
    width: 10%;
    background-color: red;
    border: 2px solid red;
}


/* header */
header {
    /* flex-grow: 1; */
    /* width: 100vw; */
}

header .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #333;
    color: lightgray;
}

header .section img {
    width:100%;
}

header .nav {
    background-color: #1b5557;
    height: 10vw;
    display: flex;
    align-items: center;
    color: white;
    justify-content:space-between;
}

header .nav h1 {
    margin: 0 0 0 1em;
    font-size: 3em;
}

header .nav div {
    margin-right: 1em;
}

header .form {
    text-align: center;
    position: relative;
    top: -5em;
}

header .form img {
    width:80%;
    border-radius: .5em;
}


/* main */
main {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}

main div {
    width: 60%;
    margin: 1em auto;
    font-size: 1.5em;
}

main div img {
    width:100%;
}

main div span {
    vertical-align: super;
    font-size: smaller;
}

main div span.underline {
    text-decoration: underline;
    vertical-align:baseline;
    font-style: normal;
}

main .bottom {
    background-color: #fbf5ee;
    margin: 0 2em;
}

main .comments {
    width: 90%;
    font-size: .9em;
}

main li {
    list-style-type:decimal;
    margin-bottom: .5em;;
}


/* footer */
footer {
    flex-grow: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

footer img {
    width: 100%;
}